.chat-room-input {
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 512px;
    z-index: 100;
    border-top:  solid #ececec;
    background-color: #fff;
    display: flex;
    padding: 0.5rem;
    gap: 0.625rem;
}

.chat-room-input__field {
    flex: 1;
    font-family: "Noto Sans KR";
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: #f6f6f6;
    font-size: 0.875rem;
}

.chat-room-input__field:focus {
    outline: none;
}

.chat-room-input__icon {
    font-size: 1.5rem;
    color: var(--serenity-blue);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.chat-room-input__icon:hover {
    opacity: 0.75;
}