.chat-room-content {
  display: flex;
  flex-direction: column;
  padding: 1.875rem 1rem 0rem;
  box-sizing: border-box;
}

.chat-room-content__date-label {
  width: fit-content;
  background-color: #ececec;
  color: #888;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.3rem 1rem;
  margin: 0 auto 1.875rem;
  border-radius: 9999px;
}
