@use '@/styles/base' as *;

.mypage {
  width: 100%;
}

.mypage-content {
  display: flex;
  flex-direction: column;
  padding: $page-padding-block $page-padding-inline;
  padding-bottom: $page-bottom-padding;
  gap: $section-gap-xl;
  box-sizing: border-box;

  &__loading {
    min-height: 18rem;
  }
}
