.main-layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 480px;
  min-height: 100svh;
  background-color: #fff;
  box-shadow: rgba(100, 100, 100, 0.2) 0 0.5rem 2rem 0;
}

.main-layout__content {
  flex: 1;
  display: flex;
  justify-content: center;
}
