@use '@/styles/base' as *;

.root {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: $page-padding $page-padding;
  padding-bottom: $page-bottom-padding;
  gap: $size-20;
  box-sizing: border-box;

  &--loading {
    min-height: 288px;
  }
}

.loading {
  min-height: 288px;
  padding-inline: 0;
}

.error {
  padding: $page-padding;
  color: $color-text-secondary;
  text-align: center;
}

.image-section {
  width: 100%;
  margin: 0;
}

.image-label {
  display: block;
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-radius: $size-5;
  overflow: hidden;
  border: $border-1 solid $color-border-subtle;
  @include image-skeleton;
}

.profile-image {
  cursor: pointer;
  object-fit: cover;
}
