@use '@/styles/base' as *;

.root {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: $page-padding $page-padding;
  padding-bottom: $page-bottom-padding;
  gap: $size-20;
  box-sizing: border-box;
}

.loading {
  min-height: 288px;
  padding-inline: 0;
}

.media {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  margin: 0;
  border-radius: $size-5;
  overflow: hidden;
  border: $border-1 solid $color-border-subtle;
  @include image-skeleton;
}

.image {
  object-fit: cover;
}

.info-header {
  display: flex;
  align-items: center;
  font-size: $size-20;
  font-weight: 500;
  gap: $size-20;
}

.nickname {
  font-size: $size-20;
  margin: 0;
}

.meta {
  display: flex;
  align-items: center;
  gap: $size-10;
  margin: 0;
}

.gender-icon {
  &.male {
    color: $color-brand;
  }

  &.female {
    color: $color-accent-pink;
  }
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $size-10;
  font-size: $size-16;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info {
  display: flex;
  align-items: center;
  gap: $size-5;
  padding: $size-5 $size-10;
  border: $border-1 solid $color-border-muted;
  border-radius: $size-5;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: $size-10;
  font-size: $size-16;
  margin-top: $size-28;
}

.intro-heading {
  display: flex;
  align-items: center;
  gap: $size-5;
  font-weight: 500;
  font-size: $size-16;
  margin: 0;
}

.intro-text {
  line-height: 1.75;
  white-space: pre-line;
  margin: 0;
}

.actions {
  padding-top: $size-32;

  button {
    width: 100%;
  }
}
