@use '@/styles/base' as *;

.profile-status-box {
  display: flex;
  flex-direction: column;
  gap: $size-30;
  width: 100%;
  padding: $size-24;
  box-sizing: border-box;

  &__list {
    display: flex;
    flex-direction: column;
    gap: $size-30;
    margin: 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $size-16;
    padding-bottom: $size-5;
    border-bottom: $border-width-thin solid $color-border-subtle;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: $size-12;
    font-weight: 500;

    svg {
      font-size: $size-20;
    }
  }

  &__value {
    font-weight: 700;
    margin: 0;
  }

  &__note {
    font-size: $size-14;
    color: $color-text-secondary;
    margin: $size-8 0 0;
  }
}
