@use '@/styles/base' as *;

.root {
  display: flex;
  flex-direction: column;
  padding: $page-padding $page-padding;
  padding-bottom: $page-bottom-padding;
  gap: $size-20;
  box-sizing: border-box;
}

.loading {
  min-height: 288px;
}

.description {
  font-size: $size-16;

  p {
    margin: 0;

    & + p {
      font-size: $size-14;
      color: $color-text-secondary;
      margin-top: $size-8;
    }
  }
}

.coupon {
  cursor: pointer;
  width: max-content;
  display: flex;
  align-items: center;
  gap: $size-10;
  font-size: $size-16;
  font-weight: 500;
  color: $color-brand;
  @include hover-opacity(0.75);
}

.bootpay-window .progress-message-window .close-message-box .close-popup h4.sub-title {
  font-size: $size-16 !important;
  line-height: 1.5;
}
