@use '@/styles/base' as *;

.root {
  font-family: $font-family-heading;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $size-15;
  border: $border-1 solid $color-brand;
  border-radius: $size-5;
  width: 100%;
  color: inherit;
  text-align: left;
  @include hover-opacity(0.75);
}

.quantity {
  display: flex;
  align-items: center;
  gap: $size-10;
  font-size: $size-24;
  font-weight: 500;
}

.price {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: $size-10;
  font-weight: 500;
}

.discount {
  font-size: $size-14;
  color: $color-brand;
}

.amount {
  font-size: $size-20;
  width: 80px;
  text-align: end;
}
