@use '@/styles/base' as *;

.chat-message {
  display: flex;
  padding-bottom: $size-30;

  &--my {
    flex-direction: row-reverse;

    .chat-message__content {
      max-width: 24rem;
    }

    .chat-message__text {
      background-color: $color-brand;
      color: $color-white;
    }
  }

  &--other {
    .chat-message__content {
      max-width: 22rem;
    }

    .chat-message__text {
      background-color: $color-border-subtle;
    }
  }

  &__image {
    cursor: pointer;
    width: $size-44;
    height: fit-content;
    padding-top: $size-44;
    position: relative;
    padding-inline: 0;
    border: 0;
    @include hover-opacity(0.75);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 50%;
    }
  }

  &__content {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 0 $size-10;
    gap: $size-4;
  }

  &__nickname {
    font-size: $size-12;
    color: $color-text-secondary;
  }

  &__text {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: $size-8;
    border-radius: $radius-md;
    font-size: $size-14;
    line-height: 1.4;
  }

  &__timestamp {
    display: flex;
    align-items: flex-end;
    font-size: $size-10;
    color: $color-text-secondary;
  }
}
