@use '@/styles/base' as *;

.root {
  font-family: $font-family-body;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: $border-1 solid $color-border-subtle;
  padding: $size-5 0;
  font-size: $size-16;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  padding-inline: 0;
  text-align: left;
  @include hover-color();
}
