.profile-content {
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    padding-bottom: 10svh;
    gap: 1.25rem;
    box-sizing: border-box;
}

.profile-content__img-section {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.profile-content__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 0.3125rem;
}

.profile-content__img.hidden {
    display: none;
}

.profile-content__info-upper {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 1.25rem;
}

.profile-content__age-gender {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.profile-content__gender-icon.male {
    color: #92a8d1;
}

.profile-content__gender-icon.female {
    color: #f7cac9;
}

.profile-content__info-lower {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
}

.profile-content__info {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    padding: 0.3125rem 0.625rem;
    border: 1px solid #d3d3d3;
    border-radius: 0.3125rem;
}

.profile-content__intro {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    font-size: 1rem;
    margin-top: 1.75rem;
}

.profile-content__intro-label {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    font-weight: 500;
}

.profile-content__intro-text {
    line-height: 1.75;
}

.profile-content__button-wrapper {
    padding-top: 2rem;
}

.profile-content__button-wrapper button {
    width: 100%;
}