@use '@/styles/base' as *;

.my-profile-form {
  display: flex;
  align-items: center;
  gap: $size-10;

  &--introduce {
    flex-direction: column;
    padding-top: $size-10;

    .my-profile-form__label {
      width: 100%;
    }
  }

  &__label {
    width: $size-64;
    font-size: $size-16;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    display: flex;
    align-items: center;
    gap: $size-5;
  }

  &__icon {
    color: $color-brand;
    cursor: pointer;
    margin-left: $size-5;
  }

  &__select-wrapper {
    flex: 1;
    min-width: 0;
  }

  &__input {
    flex: 1;
    font-family: $font-family-body;
    font-size: $size-16;
    padding: $size-10 0;
    border: none;
    border-bottom: $border-width-thin solid $color-border-muted;
    box-sizing: border-box;

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &[type="date"] {
      appearance: none;
      background-color: transparent;
      color: $color-black;
    }
  }

  input:disabled {
    background-color: $color-white;
    color: $color-text-secondary;
  }

  &__textarea {
    font-family: $font-family-body;
    font-size: $size-16;
    width: 100%;
    height: 12.5rem;
    padding: $size-12;
    border: $border-width-thin solid $color-border-muted;
    border-radius: $radius-sm;
    resize: none;
    line-height: 1.75;
    scrollbar-width: none;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__birthdate-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__birthdate-text {
    width: $size-40;
    font-size: $size-16;
    margin-left: $size-8;
  }

  &__radio-group {
    flex: 1;
    display: flex;
    padding: $size-10 0;
    min-width: 0;
    margin: 0;
    border: 0;
  }

  &__radio-wrapper {
    display: flex;
    align-items: center;
    margin-right: $size-20;
    gap: $size-10;
  }

  &__place-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $size-16;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
}
