.setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #ececec;
    padding: 0.3125rem 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    transition: color 0.3s ease;
}

.setting-item:hover {
    color: var(--serenity-blue);
}