.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.25rem 1.875rem 1.25rem;
  border-bottom: 1px solid #ececec;
}

.header__logo {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: end;
  font-family: "Dancing Script";
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--serenity-blue);
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.header__back-button {
  cursor: pointer;
  position: absolute;
  top: 48%;
  left: 4.5%;
  font-size: 1.25rem;
  transition: opacity 0.3s ease;
}

.header__back-button:hover {
  opacity: 0.5;
}

.header__logo img {
  width: 3rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__title {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
  letter-spacing: 0.05rem;
}

.header__menu {
  font-family: "Outfit", "Noto Sans KR", "sans-serif";
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__menu svg {
  cursor: pointer;
  font-size: 1.25rem;
}

.header__menu button {
  padding: 0.25rem 0.625rem;
  font-size: 0.875rem;
}

.header__menu .button--light {
  padding: calc(0.25rem - 1px) calc(0.625rem - 1px);
}

.header__filter,
.header__search {
  transition: opacity 0.3s ease;
}

.header__filter:hover,
.header__search:hover {
  opacity: 0.5;
}

.header__note {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header__note:hover {
  opacity: 0.5;
}

.header__setting {
  transition: opacity 0.3s ease;
}

.header__setting:hover {
  opacity: 0.5;
}

.header__save-profile {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header__save-profile:hover {
  opacity: 0.5;
}
