@use '@/styles/base' as *;

.root {
  display: flex;
  flex-direction: column;
  padding: $size-16 $page-padding $page-padding;
  gap: $size-12;
  box-sizing: border-box;
}

.loading {
  min-height: 256px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $size-12;
  list-style: none;
  margin: 0;
  padding: 0;
}
