#mbti, #university {
    flex: 1;
}

.my-profile-select__control {
    background-color: #fff !important;
    border: 1px solid lightgray !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.my-profile-select__indicator-separator {
    width: 0 !important;
}

.my-profile-select__menu {
    background-color: #fff !important;
}

.my-profile-select__single-value,
.my-profile-select__option {
    font-size: 1rem !important;
    border: 1px solid transparent !important;
}

.my-profile-select__option--is-focused {
    background-color: #fff !important;
    border: 1px solid var(--serenity-blue) !important;
}

.my-profile-select__option--is-selected {
    background-color: var(--serenity-blue) !important;
    color: #fff !important;
}

.my-profile-select__input {
    font-size: 1rem;
}

.my-profile-select__placeholder {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.my-profile-select__menu .my-profile-select__menu-list {
    font-size: 1rem;
}
