.swal2-popup {
  width: 24rem;
  padding: 1.5rem 0;
}

#swal2-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #282828;
  padding: 0;
}

#swal2-html-container {
  font-size: 1rem;
  padding: 0;
  padding-top: 0.25rem;
  color: #888;
}

.swal2-close {
  position: absolute;
}

.swal2-actions {
  margin: 1rem auto 0;
  gap: 0.75rem;
}

.no-focus-outline:focus {
  outline: none;
  box-shadow: none;
}

.swal2-confirm {
  background-color: #ececec;
  color: #282828;
  border-radius: 0.3125rem;
  font-family: "Noto Sans KR", "sans-serif";
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
}

.swal2-cancel {
  background-color: #fff;
  color: #282828;
  border: 1px solid #ececec;
  border-radius: 0.3125rem;
  font-family: "Noto Sans KR", "sans-serif";
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
  margin: 0;
}
