@use '@/styles/base' as *;

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5rem;
  gap: $size-48;

  &__form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $size-32;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: $size-16;
  }

  &__input-box {
    display: flex;
    align-items: center;
    gap: $size-16;
  }

  &__icon {
    color: $color-brand;
    font-size: $size-20;
  }

  &__input {
    flex: 1;
    font-family: $font-family-body;
    font-size: $size-16;
    padding: 0.3rem 0;
    border: none;
    border-bottom: $border-width-thin solid $color-border-subtle;
    background-color: transparent;
    letter-spacing: 0.0625rem;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    gap: $size-16;

    button {
      font-family: $font-family-body;

      svg {
        margin-right: $size-8;
      }
    }
  }

  &__no-account {
    font-family: $font-family-body;
    font-weight: 500;
    font-size: $size-14;
    text-align: center;
    color: $color-brand;
    cursor: pointer;
    padding: 0;
    border: 0;
    @include hover-opacity(0.75);
  }
}
