@use '@/styles/base' as *;

.root {
  display: inline-flex;
  min-height: $size-44;
  align-items: center;
  justify-content: center;
  gap: $size-8;
  font-family: $font-family-body;
  cursor: pointer;
  padding: $size-8 $size-16;
  border: none;
  border-radius: $size-5;
  background: $gradient-brand;
  box-shadow: $shadow-light;
  color: $color-white;
  font-size: $size-16;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
  @include hover-opacity(0.75);

  &--light {
    background: $color-white;
    color: $color-brand;
    border: $border-1 solid $color-brand;
    padding: calc(#{$size-8} - 1px) calc(#{$size-16} - 1px);
  }

  &--negative {
    background-color: $color-border-subtle;
    color: $color-black;
  }
}
