@use '@/styles/base' as *;

.root {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border: $border-1 solid $color-border-subtle;
  border-radius: $size-5;
  box-shadow: $shadow-card;
  padding: $size-2;
  gap: $size-10;
  width: 100%;
  color: inherit;
  text-align: left;
  text-decoration: none;
  @include hover-opacity(0.75);
}

.media {
  margin: 0;
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: $size-5;
  overflow: hidden;
  @include image-skeleton;

  img {
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $size-5;
  padding-bottom: $size-5;
  align-items: center;
}

.nickname {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: $size-16;
  margin: 0;
}

.meta {
  font-size: $size-14;
  display: flex;
  align-items: center;
  gap: $size-5;
  margin: 0;
}
