@use '@/styles/base' as *;

.chat-room-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $size-24;
  padding-bottom: $size-15;
  border-bottom: $border-width-thin solid $color-border-subtle;
  width: 100%;
  color: inherit;
  text-align: left;
  text-decoration: none;
  @include hover-opacity(0.75);

  &__image {
    margin: 0;
    width: $size-64;
    padding-top: $size-64;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 50%;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $size-12;
  }

  &__info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__nickname {
    font-size: $size-16;
    font-weight: 700;
    margin: 0;
  }

  &__sent-at {
    font-size: $size-12;
    color: $color-text-secondary;
    margin: 0;
  }

  &__message {
    font-size: $size-14;
    color: $color-text-secondary;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
  }
}
