@use '@/styles/base' as *;

.matching-content {
  display: flex;
  flex-direction: column;
  padding: $page-padding-block $page-padding-inline;
  padding-bottom: $page-padding-block;
  gap: $space-9;
  box-sizing: border-box;

  &__card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $size-40 $size-32;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__card-item {
    min-width: 0;
  }

  &__option-section {
    button {
      width: 100%;

      svg {
        margin-right: $size-8;
      }
    }
  }
}
