.loading_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.loading_container_fit {
    height: calc(100vh - 230px);
}

.loading_container_small {
    height: 100%;
}