.matching-filter {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1.875rem;
  padding-bottom: 10svh;
}

.matching-filter__content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.matching-filter__subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  margin-top: 0;
}

.matching-filter__age-wrapper {
  display: flex;
  align-items: center;
}

.matching-filter__age-wrapper input {
  display: inline-block;
  box-sizing: border-box;
  width: 10%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  padding: 0;
}

.matching-filter__age-wrapper input:focus {
  outline: none;
}

.matching-filter__age-wrapper span {
  font-size: 1rem;
  padding-left: 0.625rem;
  padding-right: 2.5rem;
}

.matching-filter__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-top: 1.875rem;
}

.matching-filter__menu button {
  padding: 0.25rem;
}
