.login-form {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
}

.login-form__icon {
  color: var(--serenity-blue);
  font-size: 1.25rem;
}

.login-form__input {
  font-family: "Noto Sans KR", "sans-serif";
  flex: 1;
  padding: 0.3rem;
  border: none;
  border-bottom: 1px solid #ececec;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 0;
}

.login-form button {
  width: 4rem;
  padding: 0.3rem;
  vertical-align: middle;
  box-sizing: border-box;
}

.login-form__input:focus {
  outline: none;
}
