.login-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo img {
  width: 5rem;
}

.login-logo__text {
  position: relative;
  top: 10%;
  font-family: "Dancing Script";
  font-size: 3.75rem;
  color: var(--serenity-blue);
  font-weight: 700;
}
