@use '@/styles/base' as *;

.root {
  display: flex;
  align-items: center;
  gap: $size-24;
  padding-bottom: $size-15;
  border-bottom: $border-1 solid $color-border-subtle;
  @include hover-opacity(0.75);
}

.avatar {
  display: block;
  width: $size-64;
  height: $size-64;
  position: relative;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  padding-inline: 0;
  border: 0;
  color: inherit;
  @include image-skeleton;

  img {
    object-fit: cover;
  }
}

.action {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $size-12;
  width: 100%;
  color: inherit;
  text-align: left;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nickname {
  font-size: $size-16;
  font-weight: 700;
  margin: 0;
}

.timestamp {
  font-size: $size-12;
  color: $color-text-secondary;
  margin: 0;
}

.status {
  display: flex;
  align-items: center;
}

.status-icon {
  display: flex;
  width: $size-28;
  font-size: $size-10;
}

.status-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $size-5;
  font-size: $size-14;
}

.progress {
  width: 100%;
  height: $size-2;
  border-radius: $size-2;
  background-color: $color-brand;
  display: block;
}
