@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html {
  font-size: 16px;
}

body {
  height: 100%;
  background-color: #f6f6f6;
  color: #282828;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: "Noto Sans KR", "sans-serif";
}

body,img {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
  
img {
  -webkit-user-drag:none;
  -khtml-user-drag:none;
  -moz-user-drag:none;
  -o-user-drag:none
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

input:-moz-autofill {
    box-shadow: 0 0 0 30px white inset !important;
    -moz-text-fill-color: #000 !important;
}

/* 입력 관련 요소의 포커스 아웃라인 완전 제거 */
input:focus,
textarea:focus,
select:focus,
button:focus,
[type="radio"]:focus,
[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
}

/* Chrome, Safari, iOS 등 추가 */
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
button:focus-visible,
[type="radio"]:focus-visible,
[type="checkbox"]:focus-visible {
    outline: none;
    box-shadow: none;
}

:root {
  --serenity-blue: #92a8d1;
  --serenity-gradient: linear-gradient(135deg, #92a8d1 -0.69%, #bcdffb 99.31%);
  --light-shadow: 0 0.125rem 0.5rem rgba(40, 40, 40, 0.1);
}

@media (max-width: 200px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 201px) and (max-width: 512px) {
  html {
    font-size: 3.125vw;
  }
}